
<nav class="navbar fixed-top navbar-expand navbar-light">
    <!-- <div class="navbar-brand" href="#">
      <img src="./../assets/finding-falcone-logo.PNG" width="20" height="20" class="d-inline-block align-top" alt="">
      Finding Falcone
    </div> -->
    <ul class="navbar-nav navbar-title">
        <li class="nav-item">
            Finding Falcone
        </li>
    </ul>

    <ul class="navbar-nav ms-auto">
        <li class="nav-item screen-lg">
            <a class="nav-link" href="#">
                <button mat-button (click)='reset()'>Reset</button>
            </a>
        </li>
        <li class="nav-item screen-sm">
            <a class="nav-link" href="#">
                <button mat-icon-button (click)='reset()' aria-label="GeekTrust Home">
                    <mat-icon>restore</mat-icon>
                  </button>
            </a>
        </li>
        <li class="nav-item screen-lg">
            <a class="nav-link" href="#">
                <button mat-button (click)='openLinkInNewTab("https://www.geektrust.in/")'>GeekTrust Home</button>
            </a>
        </li>
        <li class="nav-item screen-sm">
            <a class="nav-link" href="#">
                <button mat-icon-button (click)='openLinkInNewTab("https://www.geektrust.in/")' aria-label="GeekTrust Home">
                    <mat-icon>home</mat-icon>
                  </button>
            </a>
        </li>
    </ul>
</nav>

<router-outlet></router-outlet>

<div class="footer text-center">
    <div class="message">
        Coding Problem: 
        <span class='footer-link' (click)="openLinkInNewTab('https://www.geektrust.in/coding-problem/frontend/space')">www.geektrust.in/finding-falcone</span>
    </div>
</div>